<header>
    <div>
    <image src="logo.png" height=60px width=99% />
      <ul>
        <li>Shop</li>
        <li>Articles</li>
        <li>About</li>
      </ul>
    </div>
    <div class="container">
      <img src="hyperborea.png" height=60px width=50px class="float-left" />
      <div>
      <form>
        <input type="text" id="searchbar" name="searchbar" placeholder="Search"/>
        <button type="button" onclick="search.js">Go</button>
      </form>
      <div id="LoginLinks">
        <p><a href="#">Login</a></p>
        <p><a href="#">Creat Account</a></p>
      </div>
      </div>
    </div> 
  
  </header>