<head>
    <link rel= "stylesheet" href="style.css" />
    </head>
    <body>
    <%- include('partials/header'); -%>
    <div id ="content">
    <div style = "border-bottom: 1px solid black" >
    </div>
    <div id="filler">
    <div id="events">
        <%- include('partials/eventList'); -%>
    </div>
    <div id = "stories">
      <h1>Winter Skateboarding</h1>
      <h3>How to keep going all year.</h3>
      <p>Winter in the north can get very cold. It is unusual to get less 
        than several feet of snow every year. Luckily, this does not mean that you have to stop skateboarding and there are a couple ways to continue doing so.
         Although different methods exist, there are some things that will help generally like winterized skate shoes, lined pants and mittens.
          <a href="#snowboarding">Snowboarding</a>, <a href="#snowskateboarding">snowskateboarding</a>,
           <a href="indoor"> indoor parks</a>, and <a href="shoveling">shoveling out spots</a> are some common options.  </p>
           <img src="tribal.jpg" height=15% width=100% />
    </div>
    </div>
    <div id="snowboarding">
    
    </div>
    </div>
    <div><p>The End</p></div>
    </body>